node_modules
lerna-debug.log
npm-debug.log
yarn-error.log
packages/**/dist
.idea
packages/*/coverage
test.sqlite
.DS_Store
*.log
*.tsbuildinfo
.*.env
.env.*
.env
\#*\#
*~
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.coverage
.pytest_cache/
*.egg-info/
dist/
build/
